/*INDEX*/

body{
    clear: both;


    height: 100%;
    margin: 0%;

    background-image: url("imagenes/Autoferro_Murcia-50-1250.jpg");

    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

nav{
    float: right;
}

nav ul{
    clear: both;
    list-style: none;
    padding: 10px;
    margin: 50px;
    text-align: right;
    background-color: black;
    opacity: 0.5;
    border: 2px solid;
    padding: 10px;
    border-radius: 25px;
}

nav ul li {
    padding: 1px;
    margin: 10px;
    display: inline-block;
    -webkit-transition: -webkit-transform 0.3s ease-in-out 0.1s;

}

nav ul li:hover {
    background-color: grey;
    -webkit-transform:scale(1.2);
}

nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font:normal 1em Verdana, geneva, sans-serif;

}


section{
    /*background-color: white;
    width: 65%;
    margin-left: auto;
    margin-right: auto;*/
    margin-bottom: 100px;

    position: fixed;
    bottom: 100px;
    left: 300px;
    background-color: white;
    width: 50%;
    display: flex;

    text-align: center;
    /*
    float: bottom;
    */
    z-index: 2;
}

section article h1{
    text-transform: uppercase;
    font-size: 1.2vw;
}

article{
    padding: 1.3%;
    width: 50%;
}

article p{
    font-size: 90%;
    text-align: left;

}
article p span{
    color: red;
    font-weight: bold;
}

article img{
    width: 100%;

    height: auto;
    position: relative;
}

article img:hover{
    transform: scale(0.9);
    height: auto;
    position: relative;
}

.container{
    background-color: white;

}
#container1{
    top: -60px;
    position: relative;
    background-color: white;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    min-width: 318px;
    max-width: 900px;
    text-align: center;
    overflow: hidden;
}

#container2{
    background-color: white;
    width: 100%;
    height: 300px;
    margin-bottom: 50px;
    clear: both;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    border: none;
    z-index: 1;
}

.item{
    margin: 1em;
    padding: 0em;
    float: left;
}

footer{
    clear: both;
    background-color: black;
    opacity: 0.5;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

footer p{
    font: 1.6em Arial, Georgia, "Times New Roman";
    color: grey;
    margin: 10px 8px;
}



/*CONTACTO*/

section form{
    text-align: center;
}
section form label{
    display: block;
    margin-top: 10px;
}
section form input[type="text"]{
    width: 400px;
    height: 25px;
}
section form input[type="checkbox"]{
    display: block;
    margin-top: 20px;
    padding: 20px;
    padding: 20px;
    border: 1px solid black;

}



