html{
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
    font-family: Calibri, sans-serif;
}

body{
    background-image:url("../img/Monster-1200R-MY18-Red-16-Slider-Gallery-1920x1080.jpg") ;
    background-repeat: no-repeat;
    width: 100%;
    padding: 0;
    margin: 0;
    position: fixed;
    font-family: Cambria, sans-serif;
}

/*menu*/

nav {
    position: fixed;
    top: 50px;
    right: 0;
    width: 300px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    align-items: center;
}
.navbar-container {
    width: 100%;
    height: 44px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
}

nav div ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    list-style: none;
    padding: 10px;
    color: white;
}

a{
    transition-property: color;
    transition-duration: 1s;
    transition-delay: 0.3s;

}
a:link{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

a:visited{
    color: white;
}

a:hover{
    color: red;
}

nav ul li img{
    height: 20px;
}

/*seccion de imagenes*/

.flex-container-index{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    background-color: white;
    width: 60%;

    position: fixed;
    bottom: 50px;
    height: 400px;

    margin-left: 20%;
    margin-right: 20%;
    padding: 5px;
    z-index: 1;
}

figure{
    width: 33%;
    margin: 0;
    margin-bottom: 5px;
}

figure img{
    width: 100%;
    height: 267px;
    align-items: center;
    object-fit: cover;
}


figcaption{
    overflow: auto;
    height: 100px;
    text-align: justify;
}

span{
    color: red;
    transition-property: font-size;
    transition-duration: 1s;
    transition-delay: 0s;
    cursor: pointer;
}

span:hover{
    font-size: 1.2em;
}

figure img{
    transition-property: opacity;
    transition-duration: 1s;
    transition-delay: 0s;
    cursor: pointer;
}

figure img:hover{
    opacity: 0.5;
}

.whitebox{
    background-color: white;
    margin: 0;
    position: fixed;
    bottom: 50px;
    width: 100%;
    height: 250px;
}



/*footer*/

footer{
    clear: both;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    color: white;
    opacity: 0.5;
    background-color: black;
    margin: 0;
    text-align: center;
    font-family: Calibri, sans-serif;
    text-transform: uppercase;
}

/*Contacto*/
form{
    width: 100%;
    margin: 0;
    padding: 0;
}
fieldset{
    background-color: lightgrey;

    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    margin: 0;
}

.flex-container-contacto{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    background-color: white;
    width: 40%;

    position: fixed;
    bottom: 50px;
    height: 400px;

    margin-left: 30%;
    margin-right: 30%;
    padding: 5px;
    z-index: 1;
}








































