html{
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

a:link{
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}

h2, h3, ul{
    margin: 0;
    padding: 0;
}
div{
    text-align: center;
}

body{
    font-family: Calibri, sans-serif;
    margin: 0;
}

nav{
    position: fixed;
    top: 0;
    width: 100%;
    height: 44px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    align-items: center;
}

.navbar-container{
    width: 1000px;
    height: 44px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
}

ul{
    max-width: 100%;
    min-width: 90%;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 18px;
    height: 22px;

}

.navbar-links{
    list-style: none;
    display: flex;

}

main{
    padding-top: 44px;
}

.hero{
    width: 100%;
    height: 602px;
    background-color: tomato;
    background-image: url("../img/ducati-monster-1200r-2015-2K-wallpaper.jpg");
    background-repeat: no-repeat;
    background-position: left;
}

h2{
    font-size: 56px;
    font-weight: 700;
    color: white;
}

h3{
    font-size: 28px;
    color: white;
}