html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
}
table { border-collapse: collapse; border-spacing: 0; }
td, th, caption { font-weight: normal; text-align: left; }
img, fieldset { border: 0; }
ol { padding-left: 1.4em; list-style: decimal; }
ul { padding-left: 1.4em; list-style:square; }
q:before, q:after { content:''; }

/*fin reset css*/

/*selectores*/

body{
    font-size: 70%;
}
h1{
    font:normal 2em Verdana, geneva, sans-serif;
    background: -webkit-linear-gradient(top, deepskyblue, blueviolet);
    width: 50%;
    border-radius: 10px;
    margin: 15px auto;
    text-align: center;
    padding: 15px;
    color: white;
    box-shadow: #00f 5px 5px 10px;
    text-shadow: white 2px 2px 3px;
}

h2{
    font: bold 1.7em Verdana, geneva, sans-serif;
    margin: 0;
    padding: 5px 0px 5px 0px;
    color: black;
}

section{
    width: 90%;
    border-top: 1px dashed #999;
    margin: 15px auto;
}

figure{
    float: left;
}

figure img{
    padding: 4px;
    background: grey;
    border-radius: 20px;
    -webkit-transition: -webkit-transform 0.3s ease-in-out 0.1s;
    box-shadow: lightgrey 5px 5px 10px;
}

figure img:hover{
    -webkit-transform:scale(1.2);
}

figcaption{
    font-family: Arial, Calibri, sans-serif;
    font-size: 1.2em;
    text-align: center;
    margin-top: 5px;
}

footer{
    clear: both;
    padding-top 100px;
}

footer p{
    font: 1.6em Arial, Georgia, "Times New Roman";
    color: grey;
    margin: 10px 8px;
}