#cabeceraweb{
    background-color: aqua;
}

#navegacionprincipal{
    background-color: red;
}
#barralateral{
    background-color: greenyellow;
    float:left;
    height:720px;
}
#contenidopricipal{
    background-color: grey;
    margin-left: 225px;
    padding-left: 15px;
    padding-top: 1px;
}
#pieweb{
    background-color: yellow;
    clear: both;
    margin-top: 1px;
}
li{
    background-color: yellow;
    display: inline;
}